.footerContainer{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    background: rgb(209, 209, 209);
    padding: 15px;
    box-shadow: 0px 1px 5px rgb(117, 117, 117);
}
.item{
    flex-grow: 1;
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}